body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Changement de la police pour une touche moderne */
    background-color: #e8eff1; /* Couleur de fond légèrement ajustée pour plus de douceur */
    margin: 0;
    padding: 20px; /* Ajout d'un padding pour ne pas coller au bord de l'écran */
}

h2 {
    text-align: center;
    color: #2c3e50; /* Couleur plus foncée pour un meilleur contraste */
    margin-bottom: 20px; /* Espacement ajouté en bas du titre pour aérer */
}

form {
    max-width: 400px;
    margin: 0 auto; /* Centrage du formulaire */
    padding: 25px; /* Légère augmentation du padding pour plus d'espace */
    background-color: #ffffff;
    border-radius: 8px; /* Bords plus arrondis pour un look moderne */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre plus douce pour un effet subtil */
}

label {
    display: block;
    margin-bottom: 10px; /* Espacement augmenté pour plus de clarté */
    color: #34495e; /* Couleur de texte ajustée pour une meilleure lisibilité */
    font-weight: bold; /* Rendre le texte en gras pour attirer l'attention */
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Ajustement pour tenir compte du padding */
    padding: 10px;
    margin-bottom: 20px; /* Espacement augmenté pour ne pas que les éléments se touchent */
    border: 2px solid #bdc3c7; /* Bordure plus prononcée pour un meilleur focus */
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s; /* Transition douce lors du focus */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #3498db; /* Changement de couleur à la sélection pour une meilleure visibilité */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #3498db; /* Couleur plus moderne et moins saturée */
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2980b9; /* Assombrir légèrement au survol pour un effet interactif */
}
